{% extends 'AppBundle:Blog:baseBlog.html.twig' %}

{% block content %}
    {% if articles_description is defined %}
        {% if articles_description.type == 1 %}
            {% set description = 'Articles for author: ' ~ articles_description.text %}
        {% elseif articles_description.type == 2 %}
            {% set description = 'Articles for tag: ' ~ articles_description.text %}
        {% elseif articles_description.type == 3 %}
            {% set description = 'Search for text in article title: ' ~ articles_description.text %}
        {% else %}
            {% set description = articles_description.text %}
        {% endif %}

        <h1>{{ description }}</h1>
        <hr>
    {% endif %}
    {% include 'AppBundle:Blog:articlesForList.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function loadRows() {
            var url = $('.pagination span a').attr('href');
            $.get(url, function (data) {
                var content = $(data),
                        articlesList = content.closest('.blog-article'),
                        nextLink = content.find('.next-page');
                $('.blog-body').append(articlesList);
                if (nextLink.length) {
                    $('.pagination').html(nextLink);
                } else {
                    $('.pagination').remove();
                }
            });
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height() && $('.pagination span a').length) {
                loadRows();
            }
        });
    </script>
{% endblock %}