{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 administration-body">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}