{% extends 'base.html.twig' %}

{% set navigation_bar = [['show_all_users', 'Users'], ['show_all_tags', 'Tags']] %}
{% set active_route = app.request.get('_route') %}

{% block navbar %}
    <ul class="nav navbar-nav">
        {% for item in navigation_bar %}
            <li {% if item[0] == active_route %}class="active"{% endif %}>
                <a href="{{ path(item[0]) }}">{{ item[1] | trans }}</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 administration-body">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}